.studenBox {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.icon {
  display: none;
}

.studentFormButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  filter: drop-shadow(-4px 4px 5px var(--primary-color-trans));
  z-index: 2;
}
.studentFormButton:hover {
  filter: drop-shadow(-1px 1px 2px var(--primary-color-trans));
  cursor: pointer;
}
.studentForm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondry-color);
  color: var(--primary-color);
  z-index: 1;
  border-radius: 1rem;
  display: grid;
  place-items: center;
}

.studentTitles {
  height: 100%;
  width: 90%;
  display: flex;
  border-radius: 1rem;
  background-color: var(--primary-color);
}
.studentTitles > * {
  height: 100%;
  width: 100%;
}
.studentHeadings {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: -0.1rem;
  margin-left: 1rem;
}
.studentHeadings > * {
  position: relative;
}

.studentHeadings > * > p {
  font-size: var(--medium);
  height: 4rem;
  display: grid;
  place-items: center;
  letter-spacing: 2px;
  border-radius: 2rem 0 0 2rem;
  color: var(--secondry-color);
  border: 2px solid var(--theme-color3);
}
.studentHeadings > * > p:hover {
  background-color: var(--theme-color3);
  color: var(--primary-color);

  cursor: pointer;
}
.active {
  background-color: var(--theme-color3);
  color: var(--primary-color);
  border-radius: 2rem 0 0 2rem;
}
.active > p {
  background-image: url(https://i.pinimg.com/originals/0f/b2/88/0fb288a519fdb745d0b773d87a6aaf2e.gif);
  background-position: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.studentHeadings > *:hover > p::before,
.active > p::before {
  position: absolute;
  top: -2rem;
  left: calc(100% - 2rem);
  content: "";
  background-color: transparent;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  box-shadow: 12px 9px 0px 1px var(--theme-color3);
}
.studentHeadings > *:hover > p::after,
.active > p::after {
  position: absolute;
  bottom: -2rem;
  left: calc(100% - 2rem);
  content: "";
  background-color: transparent;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  box-shadow: 12px -9px 0px 1px var(--theme-color3);
}

.details {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
}
.defaultContent {
  color: var(--primary-color);
  background-color: var(--theme-color3);
  width: 100%;
  height: 100%;
  font-size: var(--medium);
  letter-spacing: 2px;
  display: grid;
  place-items: center;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--theme-color3);
  color: var(--primary-color);
  padding: 1rem;
  overflow-y: scroll;
  font-size: var(--medium);
  width: 100%;
}

/* scroller  */

.content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background-color: transparent;
  display: none;
}
.content::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  -webkit-border-radius: 12px;
  background: transparent;
}

/* scroller */
.content > ul {
  list-style: none;
  max-width: 50rem;
  width: 100%;
}
.content > ul > li {
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  color: var(--secondry-color);
  border-radius: 1rem;
  position: relative;
  width: 100%;
}
.content > ul > li:not(:last-child)::before {
  content: "";
  top: 100%;
  left: 5%;
  position: absolute;
  width: 5px;
  height: 2rem;
  background-color: var(--primary-color);
}

.content > ul > li:hover {
  cursor: pointer;
}
.content > ul > li > details {
  font-size: var(--medium);
  padding: 0.5rem;
}
.noData {
  padding: 1rem;
}
.content > ul > li > details > summary {
  background-color: var(--secondry-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  border-radius: 1rem;
}
.content > ul > li > details > summary:hover {
  background-color: var(--theme-color1);
}

.insideSummary > p {
  font-size: var(--small);
  padding: 0.5rem;
  color: var(--theme-color3);
}

.content > ul > li:first-child {
  padding: 1rem;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondry-color);
}

.content > ul > li:first-child:hover {
  background-color: var(--secondry-color);
  color: var(--primary-color);
}
.deleteButton {
  background-color: white;
  color: var(--theme-color9);
  border: none;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid var(--theme-color9);
}
.deleteButton:hover {
  background-color: var(--theme-color9);
  color: var(--secondry-color);
}

@media (max-width: 768px) {
  .studenBox {
    flex-direction: row;
  }

  .studentForm {
    place-items: center start;
  }
  .studentFormButton {
    height: 2.5rem;
    width: 4rem;
    font-size: var(--small);
    top: 1rem;
    right: 2rem;
    border-radius: 1rem;
  }

  .icon {
    display: block;
  }

  .icon:hover {
    cursor: pointer;
  }

  .icon > * {
    width: 100%;
    padding: 0rem 1.5rem;
    color: var(--theme-color3);
    font-size: var(--medium);
  }
  .active > .icon > * {
    color: var(--primary-color);
  }
  .active {
    background-color: var(--theme-color3) !important;
  }

  .studentHeadings > * {
    height: 3rem;
    display: grid;
    place-items: center;
    border: 2px solid var(--theme-color3);
    border-radius: 1rem;
    border-top-right-radius: 1rem solid var(--theme-color3);
    border-bottom-right-radius: 1rem solid var(--theme-color3);
    border-top-right-radius: transparent !important;
    border-bottom-right-radius: transparent !important;
    background-color: var(--primary-color);
  }

  .studentHeadings > * > p {
    display: none;
  }
  .studentTitles {
    width: 95%;
    height: 100%;
  }

  .details {
    flex: 4;
  }

  .content > ul > li > details {
    font-size: var(--medium);
  }

  .content {
    font-size: var(--small);
  }
  .defaultContent {
    font-size: var(--small);
  }
  .content > ul > li {
    font-size: var(--small);
  }
  .content > ul > li:not(:last-child)::before {
    width: 2px;
  }
  .content > ul > li > details > summary {
    font-size: var(--small);
  }
  .insideSummary > p {
    font-size: var(--small);
  }
  .deleteButton {
    font-size: var(--small);
  }

  .active > .icon::before {
    position: absolute;
    top: -2rem;
    left: calc(100% - 1.8rem);
    content: "";
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    box-shadow: 12px 9px 0px 1px var(--theme-color3);
  }

  .active > .icon::after {
    position: absolute;
    bottom: -2rem;
    left: calc(100% - 1.8rem);
    content: "";
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    box-shadow: 12px -9px 0px 1px var(--theme-color3);
  }
}
